{% extends 'base.html' %}

<!-- head block -->
{% block head %}
<title>Stats</title>
{% endblock %}

<!-- body block -->
{% block body %}
<div class="container">
    <h1>Statistiques</h1>
    <div class="row">
        <div class="col-md-4">
            <!-- Image -->
            <img src="{{ url_for('static', filename='images/sport.jpg') }}" class="img-fluid" alt="Stats Image" />
        </div>
        <div class="col-md-8">
            <!-- Statistics -->
            <div class="row">
                <div class="col-md-12 d-flex gap-4 justify-content-between">
                    <p>
                        Nombre de séries :
                        <span id="nombre_series" data-value="{{ nombre_series }}">{{ nombre_series }}</span>
                    </p>
                    <div class="progress w-50" role="progressbar" aria-label="Basic example" aria-valuenow="0"
                        aria-valuemin="50" aria-valuemax="100" style="height: 25px;">
                        <div id="nb_series" class="progress-bar text-dark overflow-visible" style="width: 0%">0/{{
                            nombre_series }}</div>
                    </div>
                </div>
                <div class="col-md-12 d-flex gap-4 justify-content-between">
                    <p>
                        Nombre d'exercices :
                        <span id="nombre_exercices" data-value="{{ nombre_exercices }}">{{ nombre_exercices }}</span>
                    </p>
                    <div class="progress w-50" role="progressbar" aria-label="Basic example" aria-valuenow="0"
                        aria-valuemin="50" aria-valuemax="100" style="height: 25px;">
                        <div id="nb_exercices" class="progress-bar text-dark overflow-visible" style="width: 0%">
                            0/{{nombre_exercices}}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>
                        Temps restant :
                        <span id="temps_restant">{{ (
                            (temps_travail_par_exercice + temps_repos_exercices) * nombre_exercices
                            ) * nombre_series + (nombre_series - 1) * temps_repos_series }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <span id="nextEventLabel">
                            worked time: 0s
                        </span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        Temps de travail :
                        <span id="temps_travail_par_exercice" data-value="{{ temps_travail_par_exercice }}">{{
                            temps_travail_par_exercice }}s</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        Temps de repos entre les exercices :
                        <span id="temps_repos_exercices" data-value="{{ temps_repos_exercices }}">{{
                            temps_repos_exercices }}s</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        Temps de repos entre les séries :
                        <span id="temps_repos_series" data-value="{{ temps_repos_series }}">{{ temps_repos_series
                            }}s</span>
                    </p>
                </div>

                <!-- Buttons -->
                <div class="col-md-12">
                    <button class="btn btn-primary" id="pause_resume_btn">Pause</button>
                    <button class="btn btn-secondary" id="homeBtn">Back Home</button>
                    <button class="btn btn-danger" id="restartBtn">Restart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static',filename='js/stats.js')}}"></script>
{% endblock %}