{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/stats.css')}}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="MiniteurP">
            <form class="form" action="/" method="post">
                <label for="chk" aria-hidden="true" class="Mint">Miniteur</label>
                <label for="NbS" class="NbS">Numero de Série : </label>
                <input type="text" name="NbS" id="NbsInput" class="input" autocomplete="off" readonly>
                <label for="NbE" class="NbE">Numero d'exercice : </label>
                <input type="text" name="NbE" id="NbEInput" class="input" autocomplete="off" readonly>
                <div class="TR">
                    <label for="Tr" class="Tr">Temps restant : </label>
                    <div class="inHms">
                        <input type="text" value="00" readonly id="Tr" class="input">
                        <span class="Hms">H</span>
                        <input type="text" value="13" readonly id="Tr" class="input">
                        <span class="Hms">Min</span>
                        <input type="text" value="08" readonly id="Tr" class="input">
                        <span class="Hms">S</span>
                    </div>
                </div>
                <div class="PE">
                    <label for="Pe" class="Pe">Prochain exercice : </label>
                    <div class="inHms">
                        <input type="text" value="00" readonly id="Pe" class="input">
                        <span class="Hms">H</span>
                        <input type="text" value="13" readonly id="Pe" class="input">
                        <span class="Hms">Min</span>
                        <input type="text" value="08" readonly id="Pe" class="input">
                        <span class="Hms">S</span>
                    </div>
                </div>
                <div class="boutton">
                    <input type="button" value="Pause" class="btn" id="pause_resume_btn">
                    <input type="button" value="Reset" class="btn" id="reset_btn">
                    <input type="submit" value="Back home" class="btn">
                </div>


            </form>
        </div>
        <div class="MinD">
            <label for="chk" aria-hidden="true" class="Donnees">Donnees</label>
            <div class="frmD">
                <form class="form">
                    <label for="NbSD" class="NbSD">Nombre de Séries : </label>
                    <input type="text" name="NbS" id="Nbs" class="input" autocomplete="off" value="{{ nombre_series }}"
                        readonly>
                    <label for="NbED" class="NbED">Numero d'exercice : </label>
                    <input type="text" name="NbE" id="NbE" class="input" autocomplete="off"
                        value="{{ nombre_exercices }}" readonly>
                    <label for="TTD" class="TTD">Temps de travail : (en s)</label>
                    <input type="text" name="TT" id="TT" class="input" autocomplete="off"
                        value="{{temps_travail_par_exercice }}" readonly>
                    <label for="TrD" class="TrD">Temps de repos entre exercice : (en s)</label>
                    <input type="text" name="Tr" id="Tr" class="input" autocomplete="off"
                        value="{{temps_repos_exercices }}" readonly>
                    <label for="TrsD" class="TrsD">Temps de repos entre série : (en s)</label>
                    <input type="text" name="Trs" id="Trs" class="input" autocomplete="off"
                        value="{{ temps_repos_series }}" readonly>
                    <input type="text" class="hd">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static',filename='js/stats.js')}}"></script>
{% endblock %}